.chat-container {
  display: flex;
  background-color: black;
  color: white;
  flex-direction: column;
  justify-content: end;
  height: 75vh;
  padding: 20px;
  margin-top: 5em;
  margin-left: 5em;
  margin-right: 5em;
  overflow-y: hidden;
}

.message-area {
  overflow-y: auto;
  overflow-anchor: auto;
}

.bubble-container {
  display: flex;
}

.bubble-container:has(.sender-bubble) {
  justify-content: flex-end;
}

.bubble-container:has(.receiver-bubble) {
  justify-content: flex-start;
}

.sender-bubble {
  background-color: blue;
  color: white;
  max-width: 50%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  align-self: flex-end;
}
.receiver-bubble {
  background-color: red;
  color: white;
  max-width: 50%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  align-self: flex-start;
}
.input-form {
  display: flex;
  margin-top: 20px;
  justify-content: flex-end;
}
.input-form input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  margin-right: 10px;
}
.input-form button {
  background-color: blue;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.typing-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bbb;
  margin: 0 5px;
  opacity: 0.3;
}

.dot-animated {
  animation: dot-animation 1s infinite ease-in-out;
}

button {
  background-color: green;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
}

@keyframes dot-animation {
  0% {
    opacity: 0.3;
    transform: translate(0, 0);
  }
  50% {
    opacity: 1;
    transform: translate(0, -10px);
  }
  100% {
    opacity: 0.3;
    transform: translate(0, 0);
  }
}
